<h1>Editar produto</h1> 
<form action="/produtos/edit" method="POST"> 
    <input type="hidden" name="id" value={{produto._id}}> 
    <div class="form-control"> 
        <label for="nome">Nome do produto:</label> 
        <input type="text" name="nome" placeholder="Digite o nome do produto" value="{{produto.nome}}"> 
    </div> 
    <div class="form-control"> 
        <label for="valor">Preço do produto:</label> 
        <input type="text" name="valor" placeholder="Digite o preço" value="{{produto.valor}}"> 
    </div> 
    <div class="form-control"> 
        <label for="descricao">Descrição do produto:</label> 
        <textarea name="descricao" placeholder="Descrição do produto">{{produto.descricao}}</textarea> 
    </div> 
    <div class="form-control"> 
        <label for="image">Imagem:</label> 
        <input type="text" name="image" placeholder="Insira a URL da imagem" value="{{produto.imagem}}" /> 
    </div> 
    <input type="submit" class="btn" value="Salvar"> 
</form> 